/* CSS Document */
*,
*::after,
*::before {
  background-repeat: no-repeat;
  margin: 0;
  box-sizing: border-box;
}

/**********************/
/******* COMMON *******/
/**********************/
/* body {
  width: 414px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
} */

body main {
  color: white;
}

h1,
h2,
h3,
a {
  font-family: "Fraunces", serif;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: hsl(212, 27%, 19%);
}

img {
  width: 100%;
  height: auto;
}

button {
  border: none;
  background:none;
}

/****************/
/**** Header ****/
/****************/
#menu {
  margin-left: auto;
}

#menu img{
  width: 30px;
  margin-left: auto;
  /* visibility: hidden; */
}

header {
  background-color: #3ebfff;
  position: absolute;
  width: 100%;
  padding: 20px 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

header img {
  width: 120px;
}
/*** NAV ***/
header nav ul {
  list-style: none;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: flex;
  position: fixed;
  left: 30px;
  right: 30px;
  top: 80px;
  height: 300px;

  visibility: hidden;
  transition: all 0.6s;
  transition-delay: 0.1s;
  transform: translateX(30em);
}

header nav ul.terug {
  transform: translateX(0);
  transition: 0.5s;
  visibility: visible;
}

header nav ul li {
  margin: 20px 0;
  margin-right: 30px;
  transition: 0.3s;
}
header header nav ul li:hover {
opacity: 0.6;
border-bottom: 1px solid white;
transition: 0.3s;
}


header nav ul li a {
  font-family: "Barlow", sans-serif;
  color: hsl(213, 9%, 39%);
  font-size: 1.4em;
}

/****************/
/**** Main ****/
/****************/


/*** Header image ***/
.desktop {
  display: none;
}
main section:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}

main section:first-of-type img:first-of-type {
  position: absolute;
  bottom: 150px;
  width: 35px;
}

main section:first-of-type h1 {
  position: absolute;
  top: 140px;

  letter-spacing: 10px;
  word-wrap: normal;
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;
}

/*** tranfsform your brand +image ***/
main section:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main section:nth-of-type(2) div {
  margin-bottom: 50px;
  color: hsl(212, 27%, 19%);
  width: 310px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main section:nth-of-type(2) div h2 {
  margin: 55px 0 30px 0;
  text-align: center;
  font-size: 2em;
}

main section:nth-of-type(2) div p {
  margin: 0 0 40px 0;

  font-size: 1.1em;
  text-align: center;
  line-height: 28px;
  color: hsl(213, 9%, 39%);
}

main section:nth-of-type(2) div a {
  border-bottom: 4px solid hsla(51, 100%, 49%, 0.331);
  border-radius: 3px;

  text-transform: uppercase;
  transition: 0.3s;
}

main section:nth-of-type(2) div a:hover {
  border-bottom: 4px solid hsl(51, 100%, 49%);
  border-top: 4px solid hsl(51, 100%, 49%);
  transition: 0.3s;
}

/*** tStand out +image ***/
main section:nth-of-type(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main section:nth-of-type(3) div {
  margin-bottom: 50px;
  color: hsl(212, 27%, 19%);
  width: 310px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main section:nth-of-type(3) div h2 {
  margin: 55px 0 30px 0;
  text-align: center;
  font-size: 2em;
}

main section:nth-of-type(3) div p {
  margin: 0 0 40px 0;

  font-size: 1.1em;
  text-align: center;
  line-height: 28px;
  color: hsl(213, 9%, 39%);
}

main section:nth-of-type(3) div a {
  border-bottom: 4px solid hsla(7, 99%, 70%, 0.331);
  border-radius: 3px;

  text-transform: uppercase;
  transition: 0.3s;
}

main section:nth-of-type(3) div a:hover {
  border-bottom: 4px solid hsl(7, 99%, 70%);
  border-top: 4px solid hsl(7, 99%, 70%);

  transition: 0.3s;

}

/*** Graphic design ***/
main section:nth-of-type(4) div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

main section:nth-of-type(4) div h2,
p {
  text-align: center;
  width: 370px;
}

main section:nth-of-type(4) div:nth-of-type(1) {
  position: relative;
  width: 100%;
  height: 88vh;

  background-color: royalblue;
  background-image: url(../sunnyside-agency-landing-page-main/images/mobile/image-graphic-design.jpg);
  background-size: cover;
  color: hsl(167, 40%, 24%);
}

main section:nth-of-type(4) div:nth-of-type(1) h2 {
  margin-bottom: 25px;
  font-size: 2em;
}

main section:nth-of-type(4) div:nth-of-type(1) p {
  margin-bottom: 60px;
  font-size: 1.1em;
  line-height: 28px;
}

/*** Photography***/
main section:nth-of-type(4) div:nth-of-type(2) {
  position: relative;
  width: 100%;
  height: 88vh;

  background-color: royalblue;
  background-image: url(../sunnyside-agency-landing-page-main/images/mobile/image-photography.jpg);
  background-size: cover;
  color: hsl(198, 62%, 26%);
}

main section:nth-of-type(4) div:nth-of-type(2) h2 {
  margin-bottom: 25px;
  font-size: 2em;
}

main section:nth-of-type(4) div:nth-of-type(2) p {
  margin-bottom: 60px;
  font-size: 1.1em;
  line-height: 28px;
}

/*** Clients***/

main section:nth-of-type(5) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


main section:nth-of-type(5) h2 {
  margin: 60px 0;

  color: hsla(210, 9%, 39%, 0.392);
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 3px;
  text-align: center;
}

main section:nth-of-type(5) figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section:nth-of-type(5) img {
  margin-bottom: 30px;
  border-radius: 50%;
  width: 65px;
}

main section:nth-of-type(5) blockquote p {
  width: 300px;
  color: hsl(213, 9%, 39%);
  font-size: 1.1em;
  line-height: 30px;
  text-align: center;
}

main section:nth-of-type(5) figcaption {
  margin: 30px 0 70px 0;
  color: hsl(198, 62%, 26%);
  font-size: 1.3em;
  font-family: "Fraunces", serif;
  line-height: 30px;
  text-align: center;
}

main section:nth-of-type(5) figcaption p {
  margin: 5px 0 20px 0;
  color: hsl(195, 2%, 66%);
  font-size: 0.8em;
  line-height: 30px;
  text-align: center;
}



/*** Immage collage***/
.collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/*** footer***/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #8fd4c5;
  color: hsl(167, 40%, 24%);
}

footer h2 {
  text-transform: lowercase;
  font-size: 1.9em;
}

footer a {
  color: hsl(167, 40%, 24%);
  font-family: "Barlow", sans-serif;
  font-size: 1.1em;
}

footer ul {

  list-style: none;
  text-align: center;

  display: flex;
  justify-content: center;
  flex-direction: row;
}
footer nav {
  margin: 40px 0 80px 0;
}

footer nav ul{
  flex-direction: column;
}

footer nav ul li{
  margin: 10px 0;
}


footer img {
  width: 20px;
}

footer div ul li {
  padding: 0 15px;
}

footer a:hover {
opacity: 0.6;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


/**********************/
/******* MEDIA QUERY *******/
/**********************/




@media screen and (min-width: 480px) {
  main section:first-of-type .mobile {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    
  }

}

@media screen and (min-width: 1020px) {

#menu {
    display: none;
    visibility: hidden;
}

header{
  position: static;
  padding: 20px 30px; 

  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

  /***** menu *****/
header nav {
  margin-left: auto;
}

  header nav ul {
    transform: translateX(0);
    visibility: visible;
    position: static;
    transform: none;

    flex-direction: row;
    justify-content: space-between;
    background:none;
    height: auto;

  }

  header nav ul li {
    margin-left: 30px;
    margin-right: 0;
  }

  header nav ul li a{
 color: white;
 font-size: 1.1em;
  }

  header nav ul li:last-child a{
   color: black;
   font-family: "Fraunces", serif;
   background-color: white;
   padding:6px 20px;
   border-radius: 20px;
     }

     header nav ul li:hover{
  opacity: 0.6;
  background:none;
  }


    /***** header *****/
.desktop {
  display: block;
}

.mobile {
  display: none;
}


/*** transform +image ***/
main section:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


main section:nth-of-type(2) div {
  order: -1;
  margin-bottom: 50px;
  color: hsl(212, 27%, 19%);
  width: 100%;

  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

main section:nth-of-type(2) div h2 {
  /* margin: 55px 0 30px 0;
  font-size: 2em; */
  text-align: left;
}

main section:nth-of-type(2) div p {
  margin: 0 0 40px 0;

  /* font-size: 1.1em;
  line-height: 28px;
  color: hsl(213, 9%, 39%); */
  text-align: left;
}

main section:nth-of-type(2) div a {
  margin: auto;
}





/*** tStand out +image ***/
main section:nth-of-type(3) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}



main section:nth-of-type(3) div {
  margin-bottom: 50px;
  color: hsl(212, 27%, 19%);
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items:center;
  flex-direction: column;
}

main section:nth-of-type(3) div h2 {
  width: 400px;
  text-align: left;
  flex-wrap: wrap;
}

main section:nth-of-type(3) div p {
  text-align: left;

}

main section:nth-of-type(3) div a {
  border-bottom: 4px solid hsla(7, 99%, 70%, 0.331);
  border-radius: 3px;

  text-transform: uppercase;
}






/*** Graphic design ***/
main section:nth-of-type(4) {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

main section:nth-of-type(4) div h2,
p {
  text-align: center;
  width: 370px;
}

main section:nth-of-type(4) div:nth-of-type(1) {
  position: relative;
  width: 100%;
  height: 600px;

  background-color: royalblue;
  background-image: url(../sunnyside-agency-landing-page-main/images/desktop/image-graphic-design.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat:no-repeat;
  color: hsl(167, 40%, 24%);
}

main section:nth-of-type(4) div:nth-of-type(1) h2 {
  margin-bottom: 25px;
  font-size: 2em;
}

main section:nth-of-type(4) div:nth-of-type(1) p {
  margin-bottom: 60px;
  font-size: 1.1em;
  line-height: 28px;
}

/*** Photography***/
main section:nth-of-type(4) div:nth-of-type(2) {
  position: relative;
  width: 100%;
  height: 600px;

  background-color: royalblue;
  background-image: url(../sunnyside-agency-landing-page-main/images/desktop/image-photography.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat:no-repeat;
  color: hsl(198, 62%, 26%);
}

main section:nth-of-type(4) div:nth-of-type(2) h2 {
  margin-bottom: 25px;
  font-size: 2em;
}

main section:nth-of-type(4) div:nth-of-type(2) p {
  margin-bottom: 60px;
  font-size: 1.1em;
  line-height: 28px;
}

/*** Clients***/

main section:nth-of-type(5){
  margin:60px 50px;
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: 30% 1fr; 
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}

main section:nth-of-type(5) h2 {
  grid-area: 1 / 1 / 2 / 4;
  margin-top: 0;
}

main section:nth-of-type(5) img {
  margin-bottom: 40px;
  width: 55px;
}

main section:nth-of-type(5) p {
  width: 330px;
}

/*** Immage collage***/
.collage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}



footer ul {
  display: flex;
  flex-direction: row;
}

}